@primary-color: #182C61;
@secondary-color: #44bd32;
@font-family: 'Roboto', sans-serif;
@background-color: #f5f6fa;

@colors: {
    primary: @primary-color;
    secondary: @secondary-color;
    background: @background-color;
};
